
    <div class="promos">
        <img src="https://cdn.civitatis.com/estados-unidos/las-vegas/guia/bar-coyote.jpg" class="img-fluid img-promo my-2" alt="Responsive image">
    </div>

    <h4>Más cercanos</h4>

    <div class="bar row" *ngFor="let bar of bares">
        <a href="#" class="d-flex align-items-center">
            <div class="col-4">
                <img [src]="bar.img" [alt]="bar.nombre" class="w-100">
            </div>
            <div class="col-8">
                <h5 class="my-0">{{bar.nombre}}</h5>
                <div class="estrellas">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star nostar"></i>
                </div>

            </div>

        </a>
    </div>
