<div class="container my-2 reservas">
    <h4>Mis Reservas</h4>
    <div class="my-3">
        <div class="reserva d-flex align-items-center my-3">
            <div class="date col-2 py-2">
                <p class="dia">10</p>
                <p class="mes">OCT</p>
            </div>
            <div class="bares col-10">
                <p class="bar">Nombre del Bar</p>
                <p class="hora">20.30 hs</p>
            </div>
        </div>
        <div class="reserva d-flex align-items-center my-3">
                <div class="date col-2 py-2">
                    <p class="dia">10</p>
                    <p class="mes">OCT</p>
                </div>
                <div class="bares col-10">
                    <p class="bar">Nombre del Bar</p>
                    <p class="hora">20.30 hs</p>
                </div>
            </div>
            <div class="reserva d-flex align-items-center my-3">
                    <div class="date col-2 py-2">
                        <p class="dia">30</p>
                        <p class="mes">FEB</p>
                    </div>
                    <div class="bares col-10">
                        <p class="bar">Nombre del Bar</p>
                        <p class="hora">20.30 hs</p>
                    </div>
                </div>
    </div>
</div>